@inherits LayoutComponentBase
@using I18NPortable
@inject II18N L

<div class="page">
    <div class="row">
        <div class="col">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item">
                    <NavLink class="nav-link" href="">
                        <span class="oi oi-home" aria-hidden="true"></span> @L["home"]
                    </NavLink>
                </li>
                <li class="list-group-item">
                    <NavLink class="nav-link" href="/admindetails/item">
                        <span class="oi oi-box" aria-hidden="true"></span> @L["item"]
                    </NavLink>
                </li>
            </ul> 
        </div>
    </div>
    <main>
         <div class="row">
            <div class="col">
                <article class="content px-4">
                    @Body
                </article>
            </div>
         </div>
    </main>
</div>