@page "/counter"
@inherits MyComponentBase
@using I18NPortable
@inject II18N L

<PageTitle>Counter</PageTitle>

<h1>@L["counter"]</h1>

<p role="status">@L["currentcount"]: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">@L["clickme"]</button>